.agree-input {
	display: flex;
		align-items: center;
		gap: 1rem;

	&__checkbox {
		cursor: pointer;
	}

	&__label {
		font-size: 1.4rem;
		letter-spacing: -0.03rem;

		cursor: pointer;
	}

	&__link {
		color: $accentColor;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}