.content {
	--col-width: 250px;

	padding: 112px 80px 110px 70px;
	width: 100%;
	box-sizing: border-box;

	@media (max-width: 1170px) {
		--col-width: 200px;

		padding: 80px 60px;
	}

	@media (max-width: 900px) {
		--col-width: 100%;
	}

	@media (max-width: 768px) {
		padding: 60px 30px;
	}

	@media (max-width: 580px) {
		width: 100%;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__social-btns {
		width: 100%;

		display: flex;
			justify-content: space-between;

		margin-top: 60px;

		@media (max-width: 900px) {
			flex-direction: column;
			gap: 10px;
		}
	}

	&__social-btn {
		box-sizing: border-box;

		width: var(--col-width);
		padding: 10px 15px;

		display: flex;
			align-items: center;

		font-size: 14px;
		color: #fff;
		text-decoration: none;

		transition: background-color .2s ease-in-out;

		&:before {
			content: '';
			display: block;
			width: 20px;
			height: 20px;

			margin-right: 20px;

			background-size: cover;
		}

		&--facebook {
			background: $FbColor;

			&:hover {
				background: lighten($FbColor, 10%);
			}

			&:before {
				background-image: url('../img/facebook.svg');
			}
		}

		&--linkedin {
			background: $InColor;

			&:hover {
				background: lighten($InColor, 10%);
			}

			&:before {
				background-image: url('../img/linkedin.svg');
			}
		}
	}

	&__separator {
		margin: 60px 0 50px;

		@media (max-width: 580px) {
			margin: 30px 0;
		}
	}

	&__form-title {
		margin-top: 58px;
		margin-bottom: 15px;
	}

	&__form-subtitle {
		margin-bottom: 51px;
	}

	&__bubble {
		margin-top: 25px;
		max-width: 260px;
		width: 100%;
	}

	&__agree-input {
		margin-top: 47px;
	}

	&__btn {
		margin-top: 62px;
		width: var(--col-width);
	}

	&__input {
		width: var(--col-width);
	}

	&__inputs-row {
		@media (max-width: 900px) {
			flex-direction: column;
			gap: 15px;
		}
	}

	&__select-row {
		@media (max-width: 900px) {
			display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				justify-items: start;
		}
	}
}