.input {
	position: relative;

	&__label {
		position: absolute;
		top: 5px;
		left: 15px;

		font-size: 14px;
	}

	&__area {
		box-sizing: border-box;
		border: 1px solid $secondTextColor;
		border-left: 1px solid $accentColor;
		padding: 25px 13px 12px 13px;

		width: 100%;

		font-size: 16px;
		font-family: inherit;
		letter-spacing: 0.4px;

		transition: border-color .2s ease-in-out;

		&:hover {
			border-color: darken($secondTextColor, 30%);
			border-left-color: $accentColor;
		}

		&:focus {
			border-color: $accentColor;
		}
	}
}