.input {
	position: relative;

	&__label {
		position: absolute;
		top: 0.5rem;
		left: 1.5rem;

		font-size: 1.4rem;
	}

	&__area {
		box-sizing: border-box;
		border: 0.1rem solid $secondTextColor;
		border-left: 0.1rem solid $accentColor;
		padding: 2.5rem 1.3rem 1.2rem 1.3rem;

		width: 100%;

		font-size: 1.6rem;
		font-family: inherit;
		letter-spacing: 0.04rem;

		transition: border-color .2s ease-in-out;

		&:hover {
			border-color: darken($secondTextColor, 30%);
			border-left-color: $accentColor;
		}

		&:focus {
			border-color: $accentColor;
		}
	}
}