.radio {
	appearance: none;

	box-sizing: border-box;
	width: 1.6rem;
	height: 1.6rem;

	border-radius: 50%;

	border: 0.1rem solid $secondTextColor;

	transition: border-color .1s ease-in-out;
	cursor: pointer;

	&:checked {
		border: 0.4rem solid $accentColor;
	}
}