.row {
	display: flex;
	align-items: flex-start;

	&--sb {
		justify-content: space-between;
	}

	&--gap {
		gap: 3.5rem;

		@media (max-width: 1170px) {
			gap: 2rem;
		}

		@media (max-width: 990px) {
			gap: 1rem;
		}
	}
}