.text-separator {
	border-top: 0.1rem solid $secondTextColor;
	position: relative;

	&__text {
		font-size: 1.2rem;
		padding: 0.3rem;
		
		display: block;
		position: absolute;
			left: 50%;
			top: 50%;

		transform: translate(-50%, -70%);

		background: #fff;
		color: $secondTextColor;
	}
}