.wrapper {
	width: 1440px;
	margin: 100px auto;

	display: flex;

	background: #fff;
	box-shadow: 0 0 90px rgba(#000, .2);

	&__img {
		flex-shrink: 0;

		box-sizing: border-box;

		width: 760px;
		padding: 43px 50px;

		background-image: url('../img/bg.jpg');
	}
}