.wrapper {
	width: 144rem;

	margin: 3em auto;

	display: flex;

	background: #fff;
	box-shadow: 0 0 9rem rgba(#000, .2);

	@media (max-width: 1280px) {
		max-width: calc(100% - 3em);
		box-sizing: border-box;
		margin: 1.5em;

		// border: 1px solid #f00;
	}
	
	@media (max-width: 1170px) {
		max-width: calc(100% - 2rem);
		margin: 1rem;
	}

	@media (max-width: 580px) {
		flex-direction: column;
	}
 
	&__img {
		flex-shrink: 0;

		box-sizing: border-box;

		width: 76rem;
		padding: 4.3rem 5rem;

		background-image: url('../img/bg.jpg');

		@media (max-width: 1170px) {
			width: 40%;
		}

		@media (max-width: 768px) {
			width: auto;
			padding: 6rem 3rem;
		}

		@media (max-width: 580px) {
			background-image: none;
			background: $accentColor;
			padding: 3rem;
		}
	}
}